{% extends "dashboardbase.html" %}

{% block title %}Modifier un budget{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-10 col-lg-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Modifier un Budget</h5>

                    {% if error is not empty %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{error|raw}} </strong>
                    </div>
                    {% elseif success is not empty %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{success|raw}} </strong>
                    </div>
                    {% endif %}

                    <form method="post" action="{{ app.request.getBaseURL()}}{{RACINE}}/FinancesC/{{budget.id}}/editBudget">
                        <div class="form-group">
                            <input type="hidden" name="id" id="id" value="{{budget.id}}">
                            <label for="amount">Nouveau montant du budget</label>
                            <input type="number" id="amount" name="amount" class="form-control" step="0.01" min="0" value="{{budget.amount}}">
                            <span class="alert alert-danger error" id="amount_error"></span>
                        </div>
                        <div class="form-group">
                            <label for="reason">Raison</label>
                            <textarea class="form-control" name="reason" id="reason" cols="30" rows="10" placeholder="raison"></textarea>
                            <span class="alert alert-danger error" id="reason_error"></span>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}