:root{
    --color-blue-light:#2E89B7;
    --color-steel-blue: #99BFD0;
    --color-white:#FBFBFA;
    --color-peru:#C49D3A;
    --color-dark-olive-green:#483A31;
}
.error{
    display: none;
    padding: 0;
    margin-top: 5px;
    font-size: 0.8em;
}
.left{
    float: left;
}

.hidden{
    display: none;
}

.maincontent {
    background-image: url('../images/welcome.jpg');
    background-color: aqua;
    height: 500px;
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-background-size: cover;
    background-size: cover;
}

.cardlist{
    margin-bottom: 5px;
}
.cardlist a{
    color: white;
}
.centrer{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bigger{
    align-content: center;
    padding: .6em .6em;
    font-size: 1.5em;
}
.loginBtn{
    color: var(--color-white);
    align-content: center;
    padding: .6em .6em;
    font-size: 1.5em;
    border-radius: 3em;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    background: linear-gradient(to right, var(--color-steel-blue), var(--color-blue-light));
    box-shadow: 0 .8em .6em .6px rgba(0,0,0,0.1);
}
.form-heading{
    color: var(--color-peru);
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 1.2em;
    margin-bottom: 1.2em;
    border-bottom: 1px silver solid;
}
.body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.leftpart{
    background-image: linear-gradient(to right bottom, rgba(48,137,183,0.80) 50% , transparent 50%), url('../images/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
}
.present{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
    color: var(--color-white);
}
.present2{
    display: none;
}
.present h1{
    padding-top: 10vh;
    color: yellow;
}
.here{
    width: 40%;
}
@media screen and (max-width: 770px) {
    .bigger{
        align-content: center;
        padding: .1rem .1rem;
        font-size: 1rem;
    }
    .loginBtn{
        color: var(--color-white);
        align-content: center;
        padding: .1rem .1rem;
        font-size: 1rem;
        border-radius: 1rem;
        text-transform: uppercase;
        border: 0;
        width: 100%;
        background: linear-gradient(to right, var(--color-steel-blue), var(--color-blue-light));
        box-shadow: 0 .2rem .1rem .2px rgba(0,0,0,0.1);
    }
    .leftpart{
        display: none;
        background: white;
        width: 100%;
    }
    .present{
        display: none;
    }
    .present2{
        display: block;
    }
    .here{
        background-image: linear-gradient(to right bottom, rgba(48,137,183,0.80) 50%, var(--color-steel-blue) , transparent 50%), url('../images/welcome.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .centrer{
        padding: 1.5em;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        box-shadow: 0 .5rem .5rem .7px rgba(0,0,0,0.3);
        border-radius: 1rem;
        text-align: center;
    }
    .form-heading{
        color: var(--color-peru);
        font-size: 1.5em;
        font-weight: 200;
        padding: 1em;
        margin-bottom: 1em;
        border-top: 1px silver solid;
        border-bottom: 1px silver solid;
    }

}

