{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row" style="height: 100vh; width: 100%;">
    <div class="col-lg-7 col-md-6 leftpart">
        <div class="present">
            <h1> <b>Darmotics App</b></h1>
            <p>La robotique et l'informatique au Service des Menage!
                Yes We Can !!!
            </p>
        </div>
    </div>
    <div class=" col-lg-5 col-md-6 col-sm-12 col-12 here" style="background-color: transparent;">

        <form class="centrer" method="post" action="{{ app.request.getBaseURL()}}{{RACINE}}/Home/login" enctype="application/x-www-form-urlencoded">
            <div class="present2">
                <h2> <b>Darmotics App</b></h2>
                <p>La robotique et l'informatique au Service des Menage!
                    Yes We Can !!!
                </p>
            </div>
            <h2 class="form-heading">Accédez à l'Application</h2>
            {% if error %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{error}} </strong>
            </div>
            {% endif %}
            <div class="form-group">
                <input type="email" class="form-control bigger" id="email" name="email" placeholder="Entrer votre Adresse Mail ...">
            </div>
            <div class="form-group">
                <input type="password" class="form-control bigger" id="pwd" name="password" placeholder="Entrer votre Mot de Passe ...">
            </div>
            <button type="submit" class="loginBtn">Connectez vous!</button>
        </form>
    </div>
</div>
{% endblock %}
