{% extends "dashboardbase.html" %}

{% block title %}Liste des Projets{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col mx-auto">

            {% if error is not empty %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{error|raw}} </strong>
            </div>
            {% elseif success is not empty %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{success|raw}} </strong>
            </div>
            {% endif %}


            {% if projects|length <= 0 %}
            <p>Il n'existe aucun projet pour le moment</p>
            {% else %}
            {% set i=0 %}
            <div id="accordion">

                {% for project in projects %}
                <div class="card bg-dark  text-white cardlist">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapse{{i}}">
                            {{project.name}}
                        </a>
                    </div>
                    <div id="collapse{{i}}" class="collapse{% if i==0 %}{{' show'}}{% endif %}" data-parent="#accordion">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home{{project.id}}">Informations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu1{{project.id}}">Equipe</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu2{{project.id}}">Budget</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane container active" id="home{{project.id}}">

                                    <p class="card-text"><h5>Description</h5>{{project.description}}</p>
                                    <p class="card-text">Date de début: {{project.startDate|date("d/m/Y")}}</p>
                                    <p class="card-text">Date de fin: {{project.endDate|date("d/m/Y")}}</p>
                                    <p class="card-text">Etat d'avancement: <b class="alert alert-{{states[project.state][1]}}"> {{states[project.state][0]}} </b></p>

                                </div>
                                <div class="tab-pane container fade" id="menu1{{project.id}}">
                                    <p class="card-text">Chef de Projet : <a href="{{ app.request.getBaseURL()}}{{RACINE}}/EmployeeC/{{project.chief.id}}/edit"><b class="badge badge-pill badge-primary"> {{project.chief.firstName}} ({{project.chief.email}})</b> </a></p>
                                    <h5> Employés de ce projet </h5>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nom(s)</th>
                                                <th>Prénom(s)</th>
                                                <th>Email</th>
                                                <th>Department</th>
                                                <th data-toggle="tooltip" title="Date d'affectation de cet employée à ce project!">Affectation</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ep in project.employeeProject%}

                                            <tr>
                                                <td>{{ep.employee.id}}</td>
                                                <td><a href="{{ app.request.getBaseURL()}}{{RACINE}}/EmployeeC/{{ep.employee.id}}/edit" class="text-primary">{{ep.employee.firstName}}</a></td>
                                                <td>{{ep.employee.lastName}}</td>
                                                <td>{{ep.employee.email}}</td>
                                                <td>{{ep.employee.Department.name}}</td>
                                                <td>{{ep.affectionDate|date('d-m-Y H:i:s')}}</td>
                                            </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane container fade" id="menu2{{project.id}}">
                                    <p class="card-text">Montant : <a href="{{ app.request.getBaseURL()}}{{RACINE}}/FinancesC/{{project.budget.id}}/editbudget"><b class="badge badge-info"> {{project.budget.amount}}</b> </a></p>
                                    <p class="card-text">Date du Mouvement : {{project.budget.movementDate|date('d-m-Y H:i:s')}}</p>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer">
                            <div class="container">
                                <a href="{{ app.request.getBaseURL()}}{{RACINE}}/ProjectC/{{project.id}}/edit"><button type="button" class="btn btn-primary">Modifier</button></a>
                                <button type="button" class="btn btn-danger">Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% set i=i+1 %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}